* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}

.single-column {
    width: 100px;
    max-width: 900px;
    margin: 0px auto;
}
header {
    background-color: rgb(255, 144, 33);
}

nav {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
nav.sc {
    align-items: center;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px 0px;
}
nav .logo {
    margin-right: auto;
}
.pages {
    align-items: left;
    margin-right: auto;
    text-align: left;
}