.post-it {
    background-color: mediumaquamarine;
    width: 200px;
    min-height: 200px;
    padding: 24px;
    margin: 24px;
    vertical-align: top;
    display: inline-block;
    position: relative;
}
.pink {
    background-color: pink;
}
img {
    width: 100px;
    height: 100px;
}
.yellow {
    background-color: yellow;
    text-align: center;
}

.lavender {
    background-color: lavender;
}

.mango {
    background-color: rgb(255, 183, 0);
    text-align: center;
}

.blue {
    background-color: rgb(0, 195, 255);
    text-align: left;
}