#sidebar {
   background-color: #333333;
    color: white;
    width: 500px;
    min-height: 100vh;
    padding: 24px;
}

.chapter {
    font-weight: bold 24px;
}

.edit {
    color: orange;
    font-style: italic;
}
.chapter.edit {
    color: red;
}
