#morning {
    background-color: rgb(248, 173, 232);
    padding: 25px;
    border-bottom: 2px solid rgb(255, 132, 0);
    margin-bottom: 50px;
}
#morning .completed {
    text-decoration: line-through;
}
#morning .important {
    font-weight: bold;
    color: rgb(31, 117, 215);
}
#morning .completed.important{
    background-color: rgb(246, 189, 103);
}
#morning li {
    padding:10px
}
#morning .button {
    display: inline-block;
    background-color: rgb(31, 117, 215);
    color: white;
    text-decoration: none;
    padding: 8px 20px;
}