* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    width: 90px;
    max-width: 900px;
    margin: 0px auto;
}
header {
    background-color: navy;
}

header nav {
    display: flex;
    gap: 25px;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
}
nav .logo img {
    width: 200px;
}