* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    width: 80%;
    max-width: 900px;
    margin: 0px auto;
}
.light-container {
    background-color: lightgreen;
    padding: 48px 0px;
}
.dark-container {
    background-color: darkgreen;
    color: white;
    padding: 48px 0px;
}